#logout {
    min-width: 100px;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-family: Nunito;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: rgb(78, 210, 210);
    color: black;
    font-weight: bold;
    transition: 200ms;
}

#logout:hover {
    transition: 200ms;
    background-color: crimson;
    color: white;
    transform: scale(1.125) perspective(1px);
}

#logout:active {
    opacity: 0.5;
}
